* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9bba5a;
}

.snake_parent_wrapper {
  margin: 5% auto 0 auto;
  width: 302px;
  display: flex;
  flex-wrap: wrap;
  border: 4px solid rgba(0, 0, 0, 0.75);
  background-color: #9bba5a;
  /* border-color: aqua; */
  /* height: 200px; */
}
.food_cell {
  background-image: url(food.svg);
  background-size: 100% 100%;
  animation: appear 200ms cubic-bezier(0.5, 1, 0, 1.6),
    spin 3.5s cubic-bezier(0.2, 0.6, 0.4, 1) 200ms;
}

.snake_block_wrapper {
  width: 28px;
  height: 28px;
  /* background-color: #af5; */
  /* border: 1px solid gray; */
  border-radius: 8px;
  background-color: #9bba5a;
}
/* .food_cell {
  border-radius: 7px;
} */
.footer_wrapper {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.button {
  width: 75px;
  height: 75px;
  background-color: gray;
  color: white;
}

@media only screen and (max-width: 320px) {
  .footer_wrapper {
    display: flex;
  }
  .snake_block_wrapper {
    width: 14px;
    height: 14px;
    border-radius: 5px;
  }
}
@keyframes appear {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
