* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9bba5a;
}

.snake_parent_wrapper {
  margin: 5% auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 4px solid rgba(0, 0, 0, 0.75);
  background-color: #9bba5a;
  position: relative;
}

.restart-icon {
  width: 100px;
  height: 100px;
  background-image: url(refresh.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.food_cell {
  background-image: url(food.svg);
  background-size: 100% 100%;
  animation: appear 200ms cubic-bezier(0.5, 1, 0, 1.6),
    spin 3.5s cubic-bezier(0.2, 0.6, 0.4, 1) 200ms;
}

.snake_block_wrapper {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background-color: #9bba5a;
}

.footer_wrapper {
  position: relative;
  width: 65vw;
  margin: 20px auto 0 auto;
  display: none;
}
.button {
  width: 75px;
  height: 75px;
  background-color: gray;
  color: white;
}

.horizontal_wrapper_1 {
  display: flex;
  justify-content: center;
}
.horizontal_wrapper_2 {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.horizontal_wrapper_3 {
  display: flex;
  justify-content: center;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  font-family: "Orbitron", sans-serif;
}

.start_game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9bba5a;
  z-index: 2;
}
.start_food_cell {
  background-image: url(food.svg);
  background-size: 100% 100%;
  animation: appear 200ms cubic-bezier(0.5, 1, 0, 1.6), spin 2s linear infinite;
}
.start_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22%;
}

h1 {
  font-weight: 500;
  font-size: 6em;
  margin: 0 10px;
}

.info {
  font-weight: 400;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.choose_level {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.choose_level span {
  font-weight: 700;
  font-size: 2em;
  margin: 0 3%;
  cursor: pointer;
  padding: 10px;
}
.choose_level span:hover {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  color: #9bba5a;
}

.overlay {
  position: absolute;
  z-index: 3;
  background-color: #9bba5abd;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 6em;
  font-weight: 600;
  padding: 12% 0;
}
.fas {
  cursor: pointer;
}
.count {
  position: absolute;
  bottom: -14%;
  font-size: 3em;
  display: block;
}
.best_score {
  position: absolute;
  right: 0;
  bottom: -14%;
  font-size: 3em;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@media only screen and (max-width: 992px) {
  .overlay {
    font-size: 3em;
  }
  .footer_wrapper {
    display: block;
  }
  .snake_block_wrapper {
    /* --widthA: calc(100% / 30);
    width: var(--widthA);
    height: var(--widthA); */
    width: 14px;
    height: 14px;
    border-radius: 5px;
  }
  .count {
    font-size: 2em;
    bottom: -18%;
  }
  .best_score {
    font-size: 2em;
    bottom: -18%;
  }
  h1 {
    font-size: 1.2em;
  }
  .info {
    font-size: 1.2em;
  }
  .choose_level span {
    font-size: 1em;
  }
}
@keyframes appear {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
