* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9bba5a;
}

.snake_parent_wrapper {
  margin: 5% auto 0 auto;
  /* width: 302px; */
  display: flex;
  flex-wrap: wrap;
  border: 4px solid rgba(0, 0, 0, 0.75);
  background-color: #9bba5a;
  position: relative;
  /* border-color: aqua; */
  /* height: 200px; */
}
.food_cell {
  background-image: url(food.svg);
  background-size: 100% 100%;
  animation: appear 200ms cubic-bezier(0.5, 1, 0, 1.6),
    spin 3.5s cubic-bezier(0.2, 0.6, 0.4, 1) 200ms;
}

.snake_block_wrapper {
  width: 28px;
  height: 28px;
  /* background-color: #af5; */
  /* border: 1px solid gray; */
  border-radius: 8px;
  background-color: #9bba5a;
}
/* .food_cell {
  border-radius: 7px;
} */
.footer_wrapper {
  position: relative;
  width: 65vw;
  margin: 20px auto 0 auto;
  display: none;
}
.button {
  width: 75px;
  height: 75px;
  background-color: gray;
  color: white;
}

.horisontal_wrapper_1 {
  display: flex;
  justify-content: center;
}
.horisontal_wrapper_2 {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.horisontal_wrapper_3 {
  display: flex;
  justify-content: center;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  font-family: "Orbitron", sans-serif;
}

.start_game {
  position: absolute; /* Sit on top of the page content */
  /* display: none; */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9bba5a;
  /* border: 2px solid rgba(0, 0, 0, 0.75); */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.start_food_cell {
  background-image: url(food.svg);
  background-size: 100% 100%;
  animation: appear 200ms cubic-bezier(0.5, 1, 0, 1.6), spin 2s linear infinite;
}
.start_header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22%;
}

h1 {
  font-weight: 500;
  font-size: 6em;
  margin: 0 10px;
}

.info {
  font-weight: 400;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
.choose_level {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.choose_level span {
  font-weight: 700;
  font-size: 2em;
  margin: 0 3%;
  cursor: pointer;
  padding: 10px;
}
.choose_level span:hover {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  color: #9bba5a;
}

.overlay {
  position: absolute;
  z-index: 3;
  background-color: #9bba5abd;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 6em;
  font-weight: 600;
  padding: 23% 0 23% 0;
}
.test {
  position: absolute;
  left: -19%;
  font-size: 3em;
  display: none;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@media only screen and (max-width: 992px) {
  .footer_wrapper {
    display: block;
  }
  .snake_block_wrapper {
    /* --widthA: calc(100% / 30);
    width: var(--widthA);
    height: var(--widthA); */
    width: 14px;
    height: 14px;
    border-radius: 5px;
  }
  .test {
    display: block;
  }
  h1 {
    font-size: 1.2em;
  }
  .info {
    font-size: 1.2em;
  }
  .choose_level span {
    font-size: 1em;
  }
}
@keyframes appear {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
